@media (max-width: 600px) {
    .banner-bg > img {
        height: 100%;
    }

    .banner-bg {
        height: 100%;
        overflow: hidden;
    }

    .banner-cnt button {
        width: 80%;
    }

    .banner-cnt {
        padding-top: 180px;
    }

    .banner-cnt > div:nth-child(2) {
        width: 92%;
    }

    .fun-facts {
        padding-top: 60px;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .live-shows-cnt {
        flex-direction: column;
    }

    .live-shows-img {
        width: 100%;
        height: 200px;
    }

    .live-shows-cnt > div:last-child {
        width: 100%;
    }

    .section-2-cnt {
        flex-direction: column;
    }

    .section-2-cnt > div:first-child {
        width: 100%;
    }

    .section-2-cnt > div:last-child {
        width: 100%;
        height: 180px;
    }
}