@media (max-width: 600px) {
    .nav-items {
        display: none;
    }

    .menu-icon {
        display: inline;
        font-size: 1.4rem;
    }

    .navbar button {
        display: none;
    }

    .footer-main { 
        flex-direction: column;
        gap: 60px;
    }

    .footer-contacts {
        width: 100%;
        gap: 16px;
    }

    .footer-contacts > div:nth-child(2) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .nav-slider {
        display: inline;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgb(12, 13, 65);
        color: white;
        padding: 60px 28px;
    }

    .exit {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.8rem;
    }

    .nav-slider-cnt {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px
    }

    .nav-slider-cnt a {
        width: 100%;
        padding: 12px 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.382);
    }

    .nav-slider-cnt a:last-child {
        border-bottom: none;
    }

    .nav-slider button {
        width: 88%;
        background-color: white;
        display: block;
        padding: 16px;
        position: absolute;
        bottom: 12%;
    }
}